.delete-product-list {
  padding: 20px;
}
.delete-product-item {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.delete-button {
  background-color: transparent;
  color: red;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
