.add-to-cart-button {
  background-color: #84c225;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

.add-to-cart-button:hover {
  background-color: #659f1c;
}
.add-to-cart-button:disabled {
  background-color: rgb(160, 165, 165);
}
