.profileMenu-container {
  position: absolute;
  background-color: rgba(44, 43, 43, 0.8);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 8%;
  top: 80px;
  border-radius: 3px;
}

.profileMenu-container ul {
  list-style: none;
  padding: 0;
}

.profileMenu-container li {
  cursor: pointer;
  display: block;

  text-decoration: none;
}
.profileMenu-container :is(svg, .fa-user, span) {
  color: rgb(255, 255, 255);
}
.profileMenu-container li:hover {
  background-color: #9b9b9b;
}
.profileMenu-button {
  background-color: transparent;
  border: none;
}
.profileMenu-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.profileMenu-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.profileMenu-exit {
  opacity: 1;
}

.profileMenu-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 300ms, transform 300ms;
}
.profileMenu-user {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.profileMenu-container :is(a, button) {
  display: block;
  color: rgb(255, 255, 255);
  padding: 12px 16px;
}
.profileMenu .logout-button {
  display: flex;
}
.profileMenu-user .fa-user {
  margin-right: 7px;
}
