.buttonHome {
  width: 100%;
  height: auto;
  text-align: center;
}
.buttonHome a {
  background-color: rgba(82, 82, 82, 0.7);
  padding: 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: "Jersey 10", sans-serif;
  font-size: 20px;
}
.buttonHome a:hover {
  border: 1px solid white;
}
