.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
  z-index: 1000;
}
.loader svg {
  color: rgb(244, 88, 168);
}
