.loader-infinite {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.loader-infinite-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
