.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Cambiado de height a min-height */
  width: 100%;
}

.container-top {
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 10;
}
.container-outlet {
}
.container-whatsAppButton {
  position: fixed;
  z-index: 5;
  right: 20px;
  bottom: 20px;
}
