/* Reset de estilos para mantener consistencia entre diferentes navegadores */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
table,
th,
td {
  border-collapse: collapse;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.body,
html {
  animation: blink 1s ease-in-out 1;
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes blink1 {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes blink2 {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@media screen and (max-width: 860px) {
  .body,
  html {
    animation: blink1 1s ease-in-out 1;
  }
}

@media screen and (max-width: 480px) {
  .body,
  html {
    animation: blink2 1s ease-in-out 1;
  }
}
